<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="pfm">
<title>{{title|e}}</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="jumbotron" style="padding-top:20px; padding-bottom:20px;">
  <div class="container"> <a class="" href="/"><img src="/img/tmrally.png" alt="TM Rally" title="Home"></a><br>
    <h1 style="margin:20px 0;"><em>{{title|e}}</em>&nbsp;<span style="font-size:0.3em;"><a title="This title is derived from the Track Name and Author fields in your track search." id="info" href="#"><span class="glyphicon glyphicon-info-sign" style=" color:#ccc"></span></a></span></h1>
  </div>
</div>
<!-- /container -->

<div class="container"> 
  
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-6">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Rally Standings</strong></div>


  <table class="table">
	<th class="text-muted">Driver</th><th class="text-muted">Total time</th><th class="text-muted">Diff previous</th><th class="text-muted">Diff first</th>

      {% for driver, total_ms, total_hr, diff_prev, diff_first in totals %}
      
	<tr id="{{ driver|e }}">
    <td>{{ driver|e }}</td> <td><strong>{{ total_hr }}</strong></td> <td class="text-muted">{{diff_prev}}</td> <td class="text-muted">{{diff_first}}</td>
    </tr>
      {% endfor %}
  </table>
  
</div>
<p class="text-info"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;<small>Use the short url below to share this Rally or simply copy the url from the browser address bar.</small></p>
<input style="padding:3px; width:12em;" class="text-muted" type="text" value="{{shorturl}}" onClick="javascript:this.focus();this.select();">
    </div>
    
<div class="col-lg-1">&nbsp;</div>

    <div class="col-lg-4">

  {% for t in tracks %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong><a class="track-link" data-html="true" data-placement="bottom" title="<img alt='{{ t.Name|e }}' class='img' src='http://test.mania-exchange.com/tracks/screenshot/small/{{t.TrackID}}' style='width:100%; height:100%' />" target="_blank" href="http://tm.mania-exchange.com/tracks/view/{{t.TrackID}}">{{ t.Name|e }} </a></strong>
  <small><a target="_blank" style="float:right" href="http://tm.mania-exchange.com/upload/replays/select_files/{{t.TrackID}}">Submit Replay <span class="glyphicon glyphicon-circle-arrow-up"></span></a></small>
  </div>


  <table class="table">
{% for r in t.Replays %}
<tr id="{{ r.Username|e }}">
	 <td style="width:50%">{{ r.Username|e }}</td> <td style="width:50%"><a href="http://tm.mania-exchange.com/replays/download/{{r.ReplayID}}">{{ r.Record }}</a></td>
    {% endfor %}
</tr>
  </table>
  
</div>
  {% endfor %}

    </div>
  </div>
  <hr>
  <p><a href="http://tm.mania-exchange.com/messaging/compose/9512"><strong>Send feedback to pfm</strong></a></p>
  <p>&nbsp;</p>
</div>
<!-- /container --> 

<script src="http://code.jquery.com/jquery.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> 
<script>
        $( document ).ready(function() {
            // Do stuff on page load
			$('#info, .track-link').tooltip()
        });
    </script> 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3803456-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>